<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Game+</title>
  </head>
  <body>
    <div id="app" class="container">
      <h1>Game+ - Biblioteca Gamer</h1>

      <div id="list" v-if="isList">
        <button class="btn btn-secondary" v-on:click="novoJogo()">
          + Novo Jogo
        </button>
        <div class="row my-3 p-2 border" v-for="game in lista" id="items-list">
          <div class="col-6" id="gameName">
            {{ game.name }}
          </div>
          <div class="col-2 text-center">
            <button
              class="btn btn-primary"
              v-on:click="mostrarDetalhes(game.id) "
            >
              Detalhes
            </button>
          </div>
          <div class="col-2" id="wngBtn">
            <button class="btn btn-warning" id v-on:click="editarJogo(game.id)">
              Editar
            </button>
          </div>
          <div class="col-2 text-center">
            <button class="btn btn-danger" v-on:click="deletarJogo(game.id) ">
              Apagar
            </button>
          </div>
        </div>
      </div>

      <div id="details" v-if="isDetails">
        <h1 id="game-title">- {{ game.name }}</h1>
        <h2>- {{ game.year }}</h2>
        <h2>- {{ game.genre }}</h2>
        <h2>- {{ game.platform }}</h2>
        <h2>- {{ game.developer }}</h2>
        <h2>- {{ game.publisher }}</h2>
        <div id="botoes">
          <button class="btn btn-warning" id v-on:click="showList()">
            Voltar
          </button>
        </div>
      </div>

      <div id="cadastro" v-if="isForm">
        <div class="row">
          <div class="form-group col-md-8">
            <label for="name">Nome</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="name"
              v-model="game.name"
              placeholder="Ex: Super Mario Bros. 3"
            />
          </div>
          <div class="form-group col-md-4">
            <label for="year">Ano</label>
            <input
              type="number"
              class="form-control"
              name="year"
              id="year"
              v-model="game.year"
              placeholder="Ex. 1988"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-7">
            <label for="genre">Gênero</label>
            <input
              type="text"
              class="form-control"
              name="genre"
              id="genre"
              v-model="game.genre"
              placeholder="Ex. Plataforma"
            />
          </div>
          <div class="form-group col-md-5">
            <label for="platform">Plataforma</label>
            <input
              type="text"
              class="form-control"
              name="platform"
              id="platform"
              v-model="game.platform"
              placeholder="Ex. Nintendo"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="platform">Desenvolvedora</label>
            <input
              type="text"
              class="form-control"
              name="platform"
              id="platform"
              v-model="game.developer"
              placeholder="Ex. Nintendo"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="publisher">Publicadora</label>
            <input
              type="text"
              class="form-control"
              name="publisher"
              id="publisher"
              v-model="game.publisher"
              placeholder="Ex. Nintendo"
            />
          </div>
        </div>
        <div id="botoes">
          <button class="btn btn-success" id v-on:click="cadastrarJogo()">
            Salvar
          </button>
          <button class="btn btn-warning" id v-on:click="showList()">
            Cancelar
          </button>
        </div>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          isList: false,
          isDetails: false,
          isForm: false,
          lista: [],
          game: {},
        },
        methods: {
          showList: function () {
            this.isList = true;
            this.isDetails = false;
            this.isForm = false;
          },
          showDetails: function () {
            this.isList = false;
            this.isDetails = true;
            this.isForm = false;
          },
          showForm: function () {
            this.isList = false;
            this.isDetails = false;
            this.isForm = true;
          },
          listarTodos: function () {
            fetch("http://localhost:8080/")
              .then((resposta) => resposta.json())
              .then((objetoLista) => {
                this.lista = objetoLista;
              });
          },
          lerDetalhes: function (id) {
            // Forma simplificada usando FIND
            this.game = this.lista.find((item) => item.id == id);
            // Forma usando o Fetch
            /*
              fetch("http://localhost:8080/detalhes/" + id)
              .then((resposta) => resposta.json())
              .then((objetoGame) => {
                this.game = objetoGame;
              });
            */
          },
          deletarJogo: function (id) {
            fetch("http://localhost:8080/deletar/" + id).then(() => {
              this.listarTodos();
              this.game = {};
            });
          },
          cadastrarJogo: function () {
            const headers = new Headers({
              "Content-Type": "application/json",
            });
            fetch("http://localhost:8080/adicionar/", {
              method: "POST",
              headers,
              body: JSON.stringify(this.game),
            })
              .then((resposta) => resposta.json())
              .then((objetoGame) => {
                this.game = objetoGame;
                this.listarTodos();
                this.showList();
                this.showDetails(this.game.id);
              });
          },
          limpaCampos: function () {
            this.game = {};
          },
          novoJogo: function () {
            this.limpaCampos();
            this.showForm();
          },
          editarJogo: function (id) {
            this.lerDetalhes(id);
            this.showForm();
          },
          mostrarDetalhes: function (id) {
            this.lerDetalhes(id);
            this.showDetails();
          },
        },
        created: function () {
          this.listarTodos();
          this.showList();
        },
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
